.footer {
  position: relative;
  width: 100vw;
  background: #22223b;
  color: #fff;
  text-align: center;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  margin-top: 40px;
  overflow: hidden;
}
.footer-text{
  color: white;
  position: absolute;
  top: 50px;
  left: 60vh;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.644);
  padding: 10px;
  border-radius: 8px;
}
.waves {
  position: relative;
  width: 100%; /* Full width */
  height: 15vh; /* The height is 15% of the viewport */
  margin-bottom: -7px; /* Fixes a gap issue for Safari */
  min-height: 100px; /* Minimum height */
  max-height: 150px; /* Maximum height */
}

/* Animation for wave parallax */
.wave-parallax > use {
  /* Infinite animation to move the waves */
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

/* Animating different wave layers at varying speeds */
.wave-parallax > use:nth-child(1) {
  animation-delay: -2s; /* Delayed by 2 seconds */
  animation-duration: 7s; /* Animation duration is 7 seconds */
}
.wave-parallax > use:nth-child(2) {
  animation-delay: -3s; /* Delayed by 3 seconds */
  animation-duration: 10s; /* Animation duration is 10 seconds */
}
.wave-parallax > use:nth-child(3) {
  animation-delay: -4s; /* Delayed by 4 seconds */
  animation-duration: 13s; /* Animation duration is 13 seconds */
}
.wave-parallax > use:nth-child(4) {
  animation-delay: -5s; /* Delayed by 5 seconds */
  animation-duration: 20s; /* Animation duration is 20 seconds */
}

/* Animation for the wave movement */
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0); /* Starting position */
  }
  100% {
    transform: translate3d(85px, 0, 0); /* Ending position */
  }
}

/* Animation for the background gradient */
@keyframes gradient {
  0% {
    background-position: 0% 50%; /* Starting position of the gradient */
  }
  50% {
    background-position: 100% 50%; /* Midway position of the gradient */
  }
  100% {
    background-position: 0% 50%; /* Ending position of the gradient */
  }
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .waves {
    height: 40px; /* Reducing wave height on mobile */
    min-height: 40px;
  }
  .content {
    height: 30vh; /* Adjusting content height for smaller screens */
  }
  h1 {
    font-size: 24px; /* Smaller font size for mobile devices */
  }
}